/build
app.iml
.DS_Store
.gradle/
Test-Project.iml
.idea/
gradle/
gradlew
gradlew.bat
local.properties

.idea/libraries/cardview_v7_22_2_1.xml
.idea/libraries/design_22_2_0.xml
.idea/libraries/recyclerview_v7_22_2_1.xml

.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.idea/vcs.xml
.idea/workspace.xml
local.properties
build/intermediates/gradle_project_sync_data.bin